* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  text-decoration: none;
}

body {
  max-width: 1440px;
}

main {
  width: 100%;
  min-height: 100vh;
  justify-content: space-between;
  background-color: hsl(217, 54%, 11%);
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
.center-container {
  align-items: center;
  align-content: center;
}

.card {
  width: 24%;
  min-height: 75vh;
  border-radius: 10px;
  background-color: hsl(216, 50%, 16%);
  justify-content: space-between;
  margin: auto;
  gap: 10px;
}

#informaces,
#figure-Equilibrium {
  width: 85%;
}

#figure-Equilibrium {
  padding-top: 8%;
}

#figure-Equilibrium::after {
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  content: url("./../images/icon-view.svg");
  background: linear-gradient(
    187deg,
    rgba(8, 232, 226, 0.3) 13%,
    rgba(8, 232, 226, 0.3) 50%,
    rgba(8, 232, 226, 0.3) 87%
  );
  min-width: 20.4vw;
  min-height: 38.5vh;
}

#figure-Equilibrium::after,
#figure-Equilibrium img {
  border-radius: 10px;
}

#figure-Equilibrium img {
  background-color: white;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

#figure-Equilibrium img:hover {
  z-index: unset;
}

#informaces {
  gap: 10px;
}

a,
#informaces h1 {
  color: hsl(0, 0%, 100%);
}

#informaces h1 {
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
}

a:hover,
#informaces h1:hover {
  color: hsl(178, 100%, 50%);
}

#informaces p {
  font-size: 18px;
  color: hsl(215, 51%, 70%);
}

#icons {
  width: 90%;
  padding: 10px 0;
  justify-content: space-between;
}

.text-icon {
  display: flex;
  /* background-color: gray; */
  gap: 5px;
  width: 50%;
}

.text-icon-left {
  color: hsl(178, 100%, 50%);
}

.text-icon-right {
  color: hsl(215, 51%, 70%);
}

.icon-left {
  content: url("./../images/icon-ethereum.svg");
}

.icon-right {
  content: url("./../images/icon-clock.svg");
}

.figure-avatar {
  width: 90%;
  padding: 10px 0 30px 0;
  gap: 8px;
  border-top: hsl(215, 32%, 27%) solid;
}

.figure-avatar img {
  width: 15%;
  border-radius: 50px;
  border: hsl(0, 0%, 100%) solid 2px;
}

.figure-avatar p {
  color: hsl(215, 51%, 70%);
}

.attribution {
  width: 98%;
  margin: 10px 0;
  padding: 8px;
  font-size: 11px;
  text-align: center;
  background-color: hsl(216, 50%, 16%);
  color: hsl(215, 51%, 70%);
}

@media (max-width: 375px) {
  body {
    max-width: 375px;
  }

  .card {
    width: 80%;
    min-height: 75vh;
  }

  #figure-Equilibrium::after {
    min-width: 67.4vw;
    min-height: 38vh;
  }

  #figure-Equilibrium {
    gap: 15px;
  }

  h1 {
    padding-top: 10px;
  }

  p {
    font-size: 15px;
  }

  #icons {
    padding: 20px 0;
  }

  .figure-avatar {
    font-size: 0.9em;
    padding: 18px 0;
  }
  .figure-avatar p {
    margin-left: 10px;
  }
}
